<form 
  [formGroup]="searchMovieForm" 
  (ngSubmit)="myForm.valid && onSubmit()"
  #myForm="ngForm"
  >
  <div formGroupName="identity">
    <label>identifiant
      <input
        type="text"
        formControlName="id"
      >
    </label>
    <label>Titre
      <input
        type="text"
        formControlName="title"
      >
    </label>
    <div *ngIf="searchMovieForm.controls['identity'].errors && myForm.submitted">
      <span *ngIf="searchMovieForm.controls['identity'].errors?.['isRequired']">il manque un titre ou un id</span>
    </div>
  </div>
  <ul formGroupName="searchType">
    <li>
      <label>film
        <input
          type="checkbox"
          formControlName="film"
      >
      </label>
    </li>
    <li>
      <label>série
        <input
          type="checkbox"
          formControlName="serie"
      >
      </label>
    </li>
    <li>
      <label>épisode
        <input
          type="checkbox"
          formControlName="episode"
      >
      </label>
    </li>
  </ul>
  <label>
    <input 
      type="date" 
      formControlName="releaseDate"
      >
  </label>
  <div *ngIf="searchMovieForm.controls['releaseDate']?.errors && myForm.submitted">
    <span *ngIf="searchMovieForm.controls['releaseDate']?.errors?.['min']">Merci de selectionner la date à partir de {{minimumYear}}</span>
  </div>
  <ul formGroupName="fiche">
    <li>
      <label>complete
        <input 
          type="checkbox"
          formControlName="complete"
        >
      </label>
    </li>
    <li>
      <label>courte
        <input 
          type="checkbox"
          formControlName="short"
        >
      </label>
    </li>
  </ul>
  <button type="submit">Recherche</button>
</form>